.folerContainer {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.folerContainer h3{
  text-align: center;
}

.folderIconAndName {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.wordsListContainer {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addWord{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* li — grid: слово по центру, кнопка справа */
.wordItem {
  display: grid;
  grid-template-columns: 1fr auto; /* текст + кнопка */
  align-items: center;             /* по вертикали */
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  transition: background 0.2s;
  gap: 0.5rem; /* расстояние между текстом и кнопкой */
}

.wordItem:hover {
  background-color: #f0f8ff;
}

.wordText {
  justify-self: start;   /* текст слева в своей колонке */
  font-size: 1rem;
  font-weight: 500;

  /* разрешаем перенос текста на несколько строк */
  white-space: normal;
  word-break: break-word; /* переносим длинные слова */
}


.folderDeleteWordBtn {
  justify-self: end; /* кнопка всегда справа */
  padding: 0.25rem 0.5rem;
  border: none;
  /* background-color: #ff4d4f; */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.folderDeleteWordBtn:hover {
  background-color: #fcd7d6;
  transform: scale(1.05);
}
