.startMainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoContainer {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.logoContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
.loginRegisterContainer{
  display: flex;
  gap: 1rem;
}
