.scrollToTop {
  position: fixed;
  bottom: 0.05rem;
  right: 0.01rem;
  /* width: 60px;
  height: 60px; */
  padding: 0.01rem;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.3s,
    background-color 0.2s;
  z-index: 1000;
  opacity: 0.9;
}

.scrollToTop:hover {
  background-color: #45a049;
}
