:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(24, 24, 24, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 1rem;
}
.h1-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  word-wrap: none;
}

button {
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-out-btn{
  margin: 0;
  padding: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 182, 191);

}
ul{
  list-style: none;
  padding: 0;
}